
/.env.local
/.env.local.php
/var/*
!/var/.gitignore
/vendor/
/node_modules/
/ui/
/public/releases/latest.json
/config/reference.php

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
