parameters:
  level: 1
  paths:
    - src
  tmpDir: var/phpstan
  symfony:
    containerXmlPath: var/phpstan/container.xml
  bootstrapFiles:
    - vendor/autoload.php
  ignoreErrors:
    -
      identifier: symfonyContainer.serviceNotFound
      path: src/Kernel.php

services:
  errorFormatter.sarif:
    class: PHPStanSarifErrorFormatter\SarifErrorFormatter
    arguments:
      relativePathHelper: @simpleRelativePathHelper
      currentWorkingDirectory: %currentWorkingDirectory%
      pretty: true
