{
	auto_https off
}

{$RETAIA_PROD_API_HOST:app.retaia.local} {
	request_body {
		max_size 10GB
	}

	encode zstd gzip

	@api path /api/* /device*
	handle @api {
		root * /var/www/html/public
		php_fastcgi app-prod:9000
		file_server
	}

	handle {
		root * /srv/ui
		try_files {path} /index.html
		file_server
	}
}
