# yaml-language-server: $schema=../vendor/symfony/dependency-injection/Loader/schema/services.schema.json

# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.
# See also https://symfony.com/doc/current/service_container/import.html

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
    app.password_reset_ttl_seconds: 3600
    app.password_policy.min_length: 12
    app.password_policy.require_mixed_case: true
    app.password_policy.require_number: true
    app.password_policy.require_special: true

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'

    App\User\Repository\UserRepositoryInterface: '@App\User\Repository\UserRepository'
    App\User\Repository\PasswordResetTokenRepositoryInterface: '@App\User\Repository\PasswordResetTokenRepository'

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones
