<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Retaia API Docs ({{ version }})</title>
    <link rel="stylesheet" href="/swagger-ui/swagger-ui.css" />
    <style>
      html, body { margin: 0; padding: 0; }
      body { background: #fafafa; }
    </style>
  </head>
  <body>
    <div id="swagger-ui"></div>
    <script src="/swagger-ui/swagger-ui-bundle.js"></script>
    <script>
      window.onload = function () {
        SwaggerUIBundle({
          url: {{ open_api_url|json_encode(constant('JSON_UNESCAPED_SLASHES'))|raw }},
          dom_id: '#swagger-ui',
          deepLinking: true,
          presets: [SwaggerUIBundle.presets.apis],
          layout: 'BaseLayout'
        });
      };
    </script>
  </body>
</html>
